[2019-04-18 10:31] theajack commented on #1
谢谢您的提议，我后期会考虑增加。

[2019-07-18 04:04] theajack commented on #2
我来看看，谢谢你的提醒

[2019-07-18 05:30] theajack commented on #2
已修复，请更新到1.0.5

[2019-09-10 03:21] RoueSu opened #3 "丁字笔画数有问题"
[code]
不应该是2嘛？

[2019-09-11 12:52] theajack commented on #3
已修复，谢谢提醒

[2019-09-11 12:52] #3 closed

[2019-09-21 04:07] theajack commented on #1
已加入繁体字功能，且加入了多音字功能请知悉

[2019-09-24 03:57] bbzz7 opened #4 "请问能不能通过笔顺，反推出相应文字结果数组呢？"
你好，中胜，请问能不能通过笔顺，反推出相应文字结果数组呢？或者你给点提示，我自己加一个这样的方法？

[2019-09-24 13:26] theajack commented on #4
当然可以啊，你想要的输入的笔顺是什么形式的，我来加个接口。
另外，你咋知道我名字的？😂

[2019-09-24 14:57] bbzz7 commented on #4
我觉得从用户体验上，可能name参数的形式最直观吧，
比如：cnchar.orderToWord(['横','撇','捺']); // 大

另外，名字是从你的个人网站：https://www.theajack.com/resume 知道的呀😃

[2019-09-24 17:14] theajack commented on #4
已加 `[cnchar.orderToWord](https://github.com/theajack/cnchar#53-%E7%AC%94%E7%94%BB%E5%BA%8F%E5%88%97%E6%8E%A8%E5%87%BA%E5%8E%9F%E6%B1%89%E5%AD%97)`

[2019-09-24 17:15] theajack commented on #4
已加 [cnchar.orderToWord](https://github.com/theajack/cnchar#53-%E7%AC%94%E7%94%BB%E5%BA%8F%E5%88%97%E6%8E%A8%E5%87%BA%E5%8E%9F%E6%B1%89%E5%AD%97)

[2019-09-24 23:36] bbzz7 commented on #4
完美～✌

[2019-09-24 23:53] #4 closed

[2019-09-29 08:13] cyz0919 opened #5 "请问多音字如何使用？"
请问多音字参数是如何使用的，我调用的时候浏览器总是打印
CnChar Warning:以下参数被忽略:["poly"]
谢谢

[2019-09-29 13:41] theajack commented on #5
那是因为你用了多音词功能（cnchr-poly）。这个功能会把多音字给覆盖掉。
这个时候要启用多音字功能，要使用origin参数
"长".spell('origin','poly','tone') // return (Zhǎng|Cháng)
详情请参考 [参数使用](https://github.com/theajack/cnchar#61-spell-%E5%8F%82%E6%95%B0)

[2019-09-30 06:21] cyz0919 commented on #5
非常感谢，应该是我没看明白文档

[2019-09-30 06:23] theajack commented on #5
api设计也有问题，后续会考虑去除 origin 参数

[2019-09-30 06:23] #5 closed

[2019-09-30 06:41] cyz0919 commented on #5
建议可以考虑这样一个需求，返回的拼音声母、韵母分开，如果是整体认读音节不分

[2019-09-30 06:43] theajack commented on #5
好的 加入需求计划

[2019-09-30 06:43] freedomgzh commented on #5
您是通过什么方式向我发邮件呢，很有意思的互动

------------------ 原始邮件 ------------------
发件人: "theajack"<notifications@github.com>;
发送时间: 2019年9月30日(星期一) 下午2:23
收件人: "theajack/cnchar"<cnchar@noreply.github.com>;
抄送: "Subscribed"<subscribed@noreply.github.com>;
主题: Re: [theajack/cnchar] 请问多音字如何使用？ (#5)

api设计也有问题，后续会考虑去除 origin 参数

—
You are receiving this because you are subscribed to this thread.
Reply to this email d

[2019-09-30 06:46] theajack commented on #5
我是在github上面回复issue的。。star的人都看得到吗？

[2019-09-30 06:47] freedomgzh commented on #5
yes，至少我看到了，我应该是star了这个组件

------------------ 原始邮件 ------------------
发件人: "theajack"<notifications@github.com>;
发送时间: 2019年9月30日(星期一) 下午2:46
收件人: "theajack/cnchar"<cnchar@noreply.github.com>;
抄送: "桀骜"<519668307@qq.com>;"Comment"<comment@noreply.github.com>;
主题: Re: [theajack/cnchar] 请问多音字如何使用？ (#5)

我是在github上面回复issue的。。star的人都看得到吗？

—
You are receiving this because you commented.
Reply to this em

[2019-09-30 06:52] cyz0919 commented on #5
还有个问题，不知道多音字的词组是如何处理的，”长宽“返回的值不正确
console.log(cnchar.spell('成长','array','tone','low'))
["chéng", "zhǎng"]

console.log(cnchar.spell('长城','array','tone','low'))
["cháng", "chéng"]

console.log(cnchar.spell('长宽','array','tone','low'))
["zhǎng", "kuān"]

[2019-09-30 07:00] theajack commented on #5
是通过多音词词典查询获取的
准确区别多音词需要大量词库和分词支持，web上一个js库达不到准确识别多音词的功能，我找的词库不够全。但是词库太大又会导致js文件过大，加载过慢的问题。
我发现有问题的多音词我一直在往词典里面加，这个 '长宽' 我后续会加进去，或者你也可以把发现不支持的多音词自己加进去，代码在 /src/plugin/poly/polyphone-phrase-simple.json 中； 然后发起一个push请求

[2019-09-30 07:18] cyz0919 commented on #5
明白，辛苦了

[2019-10-20 15:03] torfhub opened #7 "长大了".spell('poly') 无效"
poly 参数无效

[2019-10-22 14:18] theajack commented on #7
在 2.0.2 版本中，再加一个 'origin' 参数即可。
2.0.3版本中没有这个问题，不过2.0.3尚在开发阶段。

[2019-10-22 15:01] theajack opened #8 "用于反馈错误（拼音、笔画、笔顺等错误）"
### 此 issue 用于反馈错误（拼音、笔画、笔顺等错误）

感谢同学们对于cnchar的支持，由于cnchar词库来源于网络，虽然经过了本人的修改的扩充，但是还是难免有错误与缺漏之处，希望大家可以将使用中发现的错误与缺漏之处反馈在此（或自行修改提交，经过审查无误过后会合到cnchar中）

反馈内容请直接评论在此条issue下，反馈规则与帮助如下：

### 1.拼音反馈

例：

单音字
**"国":"guó"**

多音字
**"长":"zhǎng cháng"**

**附上含有音调的字母：āáǎàōóǒòēéěèīíǐìūúǔùǖǘǚǜnńňǹ**

### 2.笔画数反馈

例：
**"一":1**

### 3.多音词反馈

例：
**"长大":"zhǎng dà"**

**附上含有音调的字母：āáǎàōóǒòēéěèīíǐìūúǔùǖǘǚǜnńňǹ**

### 4.

[2019-10-22 15:52] theajack commented on #7
2.0.3 发布了一个小版本，升级一下问题就解决了

[2019-10-22 15:52] #7 closed

[2019-10-27 08:59] torfhub commented on #8
请问能不能把cnchar和order合并到一个js文件呢,?

[2019-10-28 05:17] theajack commented on #8
你是建议把 cnchar 和 cnchar-order 另个库并到一个库里吗？如果是的话请详细描述一下需求场景？我评估一下

[2019-11-03 11:43] RimoChan commented on #8
今天要添加網頁的簡化字版本，試了一下感覺詞庫差得太多了……
[code]
只有 `個` 轉了啊……簡化字是多對一的，不能用簡化字對應回來。無法簡->繁的情況下放棄了繁->簡，導致 `tradToSimple` 幾乎沒法使用。

opencc就很聰明——
[code]

[2019-11-04 04:09] theajack commented on #8
实有不足 受教了

[2019-11-04 04:13] theajack commented on #8
但是你的这么多繁体字里只有你的例句里的三个字识别不出来 其他的都可以 我已经把这三个字加入了 我会不断完善的 谢谢你的反馈 由于cnchar 功能较多，所以很难专注一个方面 抱歉

[2019-11-04 15:48] theajack commented on #8
非常感谢楼上的反馈，实有不足！
已经发布2.0.4版本，大量扩充了繁体字库，并调整了相关API。

[2019-12-10 03:05] liudonghua123 opened #9 "能不能提供typescript相应的类型声明文件"
这个项目非常不错，但是在typescript中使用的时候会提示
[code]
等错误信息，希望能够提供类型信息文件

[2019-12-11 08:44] theajack commented on #9
好的，考虑加入下个版本计划

[2019-12-11 08:44] theajack commented on #9
好的，考虑加入下个版本计划

[2019-12-12 13:12] theajack commented on #9
已加入 typescript 类型声明文件，请升级到 2.0.6 是试用

[2019-12-12 13:12] #9 closed

[2019-12-13 01:24] liudonghua123 commented on #9
@theajack 非常感谢！ 😃

[2019-12-16 14:10] xgAnd commented on #8
拼音反馈
let spell2 = '广东省'.spell();
        alert(spell2)
显示的是  AnDongSheng 我看了下代码 没有开启 多音字模式  为什么这个默认返回的是An呢
如果我想返回常用的 拼音首字母 应该怎么设置呢。望解答 谢谢。

[2019-12-16 14:25] theajack commented on #8
@xgAnd

广 字确实是一个多音字，有一个读音是 An，默认返回 An 是因为字典有不足，谢谢指出，马上版本修复。
拼音首字母只需要加 'first' 参数就可以:
[code]

[2019-12-16 17:23] theajack commented on #8
@xgAnd
2.0.7 已加入广字默认读音为guang

[2019-12-17 12:54] xgAnd commented on #8
老哥 这个解决了  还有一个问题就是  重庆。
这个您这边返回的是 zhong  这个字  chong 和 zhong 都比较常用。我该如何获取到这个字组合后适用的读音呢。

[2019-12-17 13:29] theajack commented on #8
@xgAnd
识别多音词需要引入 cnchar-poly 插件，具体怎么引入你可以看一下[文档](https://github.com/theajack/cnchar#642-cnchar-poly-%E5%BA%93%E5%8A%9F%E8%83%BD)。
这是一个例子：
![微信截图_20191217211136](https://user-images.githubusercontent.com/23377279/70999206-e3503080-2113-11ea-815e-597f949dc2dd.png)
当然要做到高度准确需要庞大的词库，这点单在前端很难完成，而且性能也会不好。
这是[词库文件](https://github.com/theajack/cnchar/blob/master/src/plugin/poly/polyphone-phrase-simple.jso

[2019-12-18 06:48] ZengJun-cloud commented on #8
关于姓氏多音字的问题：
`    console.log('曾经'.spell())
    console.log('曾志伟'.spell())`
这2个都会识别成ceng，该怎么修改呢？

[2019-12-18 06:56] theajack commented on #8
@ZengJun-cloud
姓氏这个没有很好的办法，没办法通过扩充词库解决（因为人名没办法穷举）。或许可以通过分词+词库解决，但想通过纯前端解决这个问题难度有点大。可以考虑加入优化计划。

[2019-12-18 09:03] ZengJun-cloud commented on #8
好吧，感谢答复

[2019-12-18 09:05] ZengJun-cloud commented on #8
@theajack
好吧，感谢答复

[2019-12-23 09:01] stone-zeng commented on #8
`齉` 字失效：

<img width="497" alt="Screen Shot 2019-12-23 at 17 01 24" src="https://user-images.githubusercontent.com/18233088/71347726-dc0ea400-25a5-11ea-9c68-eb5ab6c3f228.png">

[2019-12-23 09:17] theajack commented on #8
@stone-zeng
好，记录下来，下个版本带上

[2020-01-09 03:07] lookjoe commented on #8
1.拼音反馈
version: "2.0.8"
‘无’
返回的是Mo

[2020-02-06 13:03] RimoChan commented on #8
[code]
opencc的結果是 `我刚才看见一个人才。出门看了一出戏。饥荒引发饥饿。台湾版控制台。`
去年我反饋的BUG其實只修好了一半，繁轉簡從一對零變成了一對一……

[2020-02-28 01:12] cbh968130 opened #10 "部分繁简转换有问题"
在使用简转繁时：“一”会转成“壹”，“三”会转成“叁”。
在使用繁转简时：“隻”不会转成“只”。

[2020-02-28 01:12] #10 closed

[2020-02-28 01:15] cbh968130 commented on #8
繁简体反馈：
"隻":"只"

在使用简转繁时：“一”会转成“壹”，“三”会转成“叁”，本不应该转换。

[2020-02-28 03:10] theajack commented on #8
感谢反馈

[2020-02-28 03:11] theajack commented on #8
@cbh968130 感谢反馈

[2020-03-21 02:14] anderstang commented on #8
繁体笔画反馈

繁体字的笔画不完全等同于简体字的笔画方式，看源码里只有一个stroke-count-jian的简体字笔画库。

举个例子，氵这个偏旁，简体字是3画，康熙字典里繁体字是4画，同水字。王这个偏旁，简体是4画，繁体是5画，同玉字。还有很多。

[2020-03-25 14:46] theajack commented on #8
@anderstang
有繁体笔画库的 [/src/plugin/trad/stroke-count-fan.json](https://github.com/theajack/cnchar/blob/master/src/plugin/trad/stroke-count-fan.json)

[2020-03-26 07:56] anderstang commented on #8
@theajack
看到了，但我就看氵旁的字，都是按照简体的3画算的。按照康熙字典算是4画。台湾人实际也是按照4画算。

[2020-04-05 03:55] theajack opened #13 "[Vssue]"
http://localhost:6868/components/2.0/catButton.html

[2020-04-11 01:49] brucethomaswayne6 opened #1 "这个插件是啥证书？能用于商业用途吗？"
这个插件是啥证书？能用于商业用途吗？

[2020-04-11 04:43] theajack commented on #1
@ZengJun-cloud
MIT，可以用于商业用途

[2020-04-11 05:14] #1 closed, assigned to nobody

[2020-04-19 13:14] cobola opened #2 "typescript 引入报错"
[code]
啥情况？
typescript 3.7.4

[2020-04-19 14:21] theajack commented on #2
@cobola
感谢反馈，已经修复，请升级到 2.1.4

[2020-04-19 15:03] #2 closed, assigned to nobody

[2020-05-13 13:27] Lyqxyz opened #170 "支持多少汉字"

[2020-05-13 15:29] theajack commented on #170
简体7000-8000 个左右，其中有繁体字的1300个左右

[2020-05-13 15:30] theajack commented on #170
GB 2312标准共收录6763个汉字
基本覆盖了GB 2312标准

[2020-05-13 15:30] #170 closed, assigned to nobody

[2020-05-21 01:23] lawsonzhang opened #171 "nodejs下stroke参数无效"
[code]
`CnChar Warning:以下参数无效:["detail","order"];  可选值：[array]`

[2020-05-21 02:04] theajack commented on #171
你没有显示引入插件哦，nodejs里因为没有window对象，需要显示引用插件才行:

[code]

[2020-05-21 02:06] #171 closed, assigned to nobody

[2020-06-08 08:08] zhylmzr opened #172 "typescript import error"
The `index.d.ts` syntax error: `A rest parameter cannot be optional.ts(1047)`

https://github.com/theajack/cnchar/blob/cfe294b910e1c1c9732034229a128defff37de67/src/main/index.d.ts#L17-L21

https://github.com/theajack/cnchar/blob/cfe294b910e1c1c9732034229a128defff37de67/src/main/index.d.ts#L49

[2020-06-15 07:04] theajack commented on #172
@zhylmzr
Thanks for your feedback, the bug has been fixed in version 2.2.1.

[2020-06-15 07:04] #172 closed, assigned to nobody

[2020-06-18 09:08] plainheart opened #173 "There is an unexpected result for Chinese character `任`."
Hi, this project brings a lot of help for Chinese projects, great!
Now there is a bug report.

---
**The detail**

Whatever the word is `任何` or `任意`, its tone is always `Rén`(wrong) rather than `Rèn`(right).
In fact, as we known, `Rén` is just used for surname or name of place, such as `任长霞`, `河北任丘`.

![image](https://user-images.githubusercontent.com/26999792/85000125-96155000-b184-11ea-99b5-cdf8

[2020-06-18 09:26] theajack commented on #173
Thanks for your feedback, the default tone of ‘任’ will be changed to ‘Rèn’, but there are currently no support for polyphonic characters in people’s names, such as ‘任’, ‘曾’, and I’m sorry for this.

[2020-06-18 09:29] plainheart commented on #173
Thank you, I get it.

[2020-06-18 09:30] #173 closed, assigned to nobody

[2020-07-07 09:36] aboutboy opened #174 "笔顺绘制模式的画布大小会受其他模式的干扰"
笔顺绘制模式type: cnchar.draw.TYPE.STROKE和其他模式一起使用的时候，比如和测验模式type: cnchar.draw.TYPE.TEST一起使用的时候，笔顺绘制模式的svg宽度会受到测验模式的影响。
比如笔顺绘制时我定义length为80，测验模式时为120，则笔顺绘制的笔顺大小为80，但svg画布宽度会变成120。
这是什么原因呢？
![image](https://user-images.githubusercontent.com/2050131/86761075-4b4a7200-c078-11ea-9d92-86b28ff9487f.png)

[2020-07-07 09:41] aboutboy commented on #174
如果两次使用笔顺绘制模式的话，前一次的画布大小会被后一次影响。
![image](https://user-images.githubusercontent.com/2050131/86762190-0ffc7300-c079-11ea-8a43-b385d7019f0b.png)

[2020-07-07 11:10] theajack commented on #174
@aboutboy
感谢你的反馈，这是一个bug，已经修复了，请升级到v2.2.3使用

[2020-07-07 11:10] #174 closed, assigned to nobody

[2020-07-09 14:05] aboutboy commented on #174
效率很高，谢谢！

[2020-07-19 13:07] guguji opened #175 "cnchar.draw能否提供一个接口返回svg数据？"
这样子就可以在微信小程序中，通过把svg转base64的方式来显示了。

只是提个建议，目前其实并没有这样的需求，只是觉得如果有这样的接口会很棒，当然现在也很棒，非常感谢作者的开发能有这么棒的一个开源项目~

[2020-07-22 23:18] theajack commented on #175
@guguji
感谢你的关注
这个接口可以有，后续版本安排上

[2020-08-27 02:52] zltck opened #176 "红色"
红色 翻译成Gong Se了

[2020-08-27 06:31] theajack commented on #176
@zltck 收到 感谢反馈 后续马上修复

[2020-08-28 09:58] theajack commented on #175
@guguji
目前 cnchar-draw 仅支持在web环境下使用，微信小程序中使用请参考 [HanziWriter API](https://hanziwriter.org/docs.html#wechat-miniprograms)

[2020-08-28 10:03] #175 closed, assigned to nobody

[2020-08-28 10:04] theajack commented on #176
@zltck 2.2.4 版本已修复 红色 读音

[2020-08-28 10:04] #176 closed, assigned to nobody

[2020-09-14 06:24] luoyuctl opened #178 "获取汉字首字母拼音的问题"
![image](https://user-images.githubusercontent.com/51604064/93050701-ef165680-f695-11ea-809c-741cb11b76bb.png)
'小区'.spell('first')的结果为什么是XO?应该是XQ才对

[2020-09-14 09:25] theajack commented on #178
@GitSparkli 感谢反馈！区字是一个多音字，ou 是它的另一个读音。
这个问题已经在2.2.6版本中修复了，请升级使用。

[2020-09-14 09:25] #178 closed, assigned to nobody

[2020-09-14 09:43] luoyuctl commented on #178
我使用的是在线引用的版本，可以把这个升级成2.2.6的吗?

[2020-09-14 10:01] theajack commented on #178
@GitSparkli
使用这个cdn  https://cdn.jsdelivr.net/npm/cnchar@2.2.6/cnchar.min.js

[2020-09-14 10:03] luoyuctl commented on #178
@theajack 好的，谢谢

[2020-10-06 08:30] LinSanmu opened #179 "在线试用笔画显示不出来"

[2020-10-10 09:45] syjhzfd opened #180 "cnchar.stroke在微信小程序中调用的问题"
您好，请问一下为什么cnchar.stroke在微信小程序中调用的时候返回的值为啥都是0呀，在浏览器中就不会出现这种问题。
![QQ图片20201010174236](https://user-images.githubusercontent.com/36884260/95651924-0d019a80-0b20-11eb-9db5-5d8784a3e080.png)

[2020-10-10 14:01] theajack commented on #179
是在ios和macos中吗

[2020-10-17 07:08] theajack commented on #180
@syjhzfd 已修复，请升级到版本2.2.7使用

[2020-10-17 07:08] #180 closed, assigned to theajack

[2020-10-17 07:09] theajack commented on #179
@LinSanmu 已修复，请升级到版本2.2.7使用

[2020-10-17 07:09] #179 closed, assigned to nobody

[2020-11-05 02:09] xiayoutao opened #181 "偏旁部首错误问题"
半：不是 丶？
眝：不是 目？
冒：不是 冃？
耄耋：不是老？
有很多字的偏旁都有问题...

[2020-11-05 03:28] theajack commented on #181
该库数据来源于网络，可能是会有错漏。
![image](https://user-images.githubusercontent.com/23377279/98194042-75923a80-1f59-11eb-8f6e-10618c098a49.png)
![image](https://user-images.githubusercontent.com/23377279/98194066-8347c000-1f59-11eb-8cac-a6ec646c3e68.png)
半和冒的是没错的。其他三个字我改正了，下个版本一起更新

[2020-11-05 03:29] #181 closed, assigned to nobody

[2020-12-13 09:52] soulge opened #182 "这个怎么画 点横竖撇捺 等基本的笔画"
请问这个怎么画 基本的笔画？

[2020-12-13 09:59] theajack commented on #182
你是指 横竖点 这些吗，跟调用绘制汉字一样的调用

`cnchar.draw('丿丨丿㇇|乛亅丿丶', {
    el: '#drawArea'
});`

![image](https://user-images.githubusercontent.com/23377279/102008597-beb18780-3d6c-11eb-97be-f71e90a5fb69.png)

![image](https://user-images.githubusercontent.com/23377279/102008603-cf61fd80-3d6c-11eb-92de-98342e16be72.png)

[2020-12-13 09:59] theajack commented on #182
@soulge

[2020-12-13 10:02] soulge commented on #182
是的，好像没有找到 捺折 还有其它一些 基本笔画。 只有 点横竖。。。 有什么方法可以自己定义吗？@theajack

[2020-12-13 10:07] theajack commented on #182
你可以找找看[这里](https://github.com/theajack/cnchar/blob/master/src/plugin/order/stroke-table.json)有没有

如果没有你自己打出来或者去网上找到这个笔画 放到draw里去试试 如果不支持的话 就是库里没有这个符号的绘制信息，暂不支持定制

[2020-12-13 10:09] theajack commented on #182
不知道你说的 捺折 是什么笔画 网上都搜不到，哪个汉字有这个笔画

[2020-12-13 10:10] theajack commented on #182
@soulge

[2020-12-13 11:19] soulge commented on #182
是 横，竖，撇，捺，横折，竖折，弯钩 等等 这些基本笔画。我想要展示一些最基础的笔画 而不是汉字。

On Sun, 13 Dec 2020, 9:10 pm Tack Chen, <notifications@github.com> wrote:

[2020-12-13 15:30] theajack commented on #182
@soulge
这不就是最基本的笔画吗？ 你去 [这里](https://github.com/theajack/cnchar/blob/master/src/plugin/order/stroke-table.json) 找笔画的字符，然后调用 draw 画出来就是了
![image](https://user-images.githubusercontent.com/23377279/102016297-2088e600-3d9b-11eb-9a67-067a856f0fc0.png)

[2020-12-13 15:30] theajack commented on #182
![image](https://user-images.githubusercontent.com/23377279/102016307-34cce300-3d9b-11eb-9377-11c8fb42dc7b.png)

[2020-12-13 15:30] #182 closed, assigned to nobody

[2020-12-13 15:47] theajack commented on #182
目前只支持以下 七个笔画
一丨亅丶丿乛乚

[2020-12-17 03:55] lck8848 opened #183 "笔画绘制"
draw绘制的偏旁有时候不准

[2020-12-17 08:20] theajack commented on #183
哪些汉字能举个例子吗

[2020-12-17 08:21] lck8848 commented on #183
九

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Tack Chen"<notifications@github.com&gt;;
发送时间: 2020年12月17日(星期四) 下午4:20
收件人: "theajack/cnchar"<cnchar@noreply.github.com&gt;;
抄送: "山の峰"<1370887376@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: Re: [theajack/cnchar] 笔画绘制 (#183)

哪些汉字能举个例子吗

—
You are receiving this because you authored the thread.
Reply to this email directly, v

[2021-01-02 02:24] gottayan opened #184 "打包后的资源存在ES6语法？"
{t=r.initial[n],o=e.spell.substr(t.length);break}return{spell:e.spell,tone:e.tone,index:e.index,initial:t,final:o}};const u=(n,e,t)=>{if("object"!=typeof n)t(n,e);else for(const e in n)t(e,n[e])},c=n=>{const e=n.charCodeAt(0);return e>=19968&&e<=40869},p=(n,e)=>-1!==n.indexOf(e);const f=n=>{console.warn("CnChar Warning:"+n)};var h=t(3);const d=h,g="āáǎàōóǒòēéěèīíǐìūúǔùǖǘǚǜ*ńňǹ",y={array:"array",lo

[2021-01-02 02:28] theajack commented on #184
还真是 可能是升级ts之后忘了修改babelrc了
我处理一下

[2021-01-02 02:32] gottayan commented on #184
我还在clone你的代码哈哈

[2021-01-02 03:19] theajack commented on #183
抱歉 这个暂时无法提供笔画的绘制 我先close了 后面有时间在研究哈

[2021-01-02 03:19] #183 closed, assigned to nobody

[2021-01-02 03:20] theajack commented on #184
@gottayan
已修改打包配置 情升级到v3.0.1使用

[2021-01-02 03:20] #184 closed, assigned to nobody

[2021-01-02 03:23] gottayan commented on #184
好的
想请教个问题

{
        test: /\.js$/,
        use: ['cache-loader', 'thread-loader', 'babel-loader'],
        // exclude: /node_modules\/(?!.*cnchar|.*cnchar-trad).*/,
        include: [path.join(__dirname, '..', 'public'), path.join(__dirname, '..', 'node_modules/cnchar'), path.join(__dirname, '..', 'node_modules/cnchar-trad')],
      },

      一开始想把node_modules的包放到webpack打包 但是这样不生效？为什么？

[2021-01-02 04:09] theajack commented on #184
@gottayan
`
{
    test: /.js$/,
    use: ['cache-loader', 'thread-loader', 'babel-loader'],
    exclude: /node_modules\/(?!(模块名)\/).*/,
},
`

[2021-01-02 11:13] gottayan commented on #184
就是这样加的 但是不生效 打包还是存在

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: Tack Chen <notifications@github.com&gt;
发送时间: 2021年1月2日 12:09
收件人: theajack/cnchar <cnchar@noreply.github.com&gt;
抄送: gottayan <1174930941@qq.com&gt;, Mention <mention@noreply.github.com&gt;
主题: 回复：[theajack/cnchar] 打包后的资源存在ES6语法？ (#184)

@gottayan
 { test: /.js$/, use: ['cache-loader', 'thread-loader', 'babel-loader'

[2021-01-02 12:58] theajack commented on #184
@gottayan
我是试过了可以的，那我就不清楚了
 你和我的写法不一样的 你重新把我发的copy过去试试？

[2021-01-02 13:00] gottayan commented on #184
我copy的 也不行。
你可以发你的demo我看下吗 建个GitHub 可能是某些版本不一致导致的。

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: Tack Chen <notifications@github.com&gt;
发送时间: 2021年1月2日 20:58
收件人: theajack/cnchar <cnchar@noreply.github.com&gt;
抄送: gottayan <1174930941@qq.com&gt;, Mention <mention@noreply.github.com&gt;
主题: 回复：[theajack/cnchar] 打包后的资源存在ES6语法？ (#184)

@gottayan
 我是试过了可以的，那我就不清楚了
 你和我的写法不一样的 你重新把我发的co

[2021-01-02 13:09] theajack commented on #184
@gottayan
改天哈 那个电脑不在身边

[2021-01-02 13:10] gottayan commented on #184
好的感谢

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: Tack Chen <notifications@github.com&gt;
发送时间: 2021年1月2日 21:09
收件人: theajack/cnchar <cnchar@noreply.github.com&gt;
抄送: gottayan <1174930941@qq.com&gt;, Mention <mention@noreply.github.com&gt;
主题: 回复：[theajack/cnchar] 打包后的资源存在ES6语法？ (#184)

@gottayan
 改天哈 那个电脑不在身边

—
You are receiving this because you were mentioned.
Reply to this ema

[2021-01-02 13:27] gottayan commented on #184
{
        test: /\.js$/,
        use: ['babel-loader'],
        exclude: /node_modules\/(?!(cnchar|cnchar-trad)\/).*/,
      }

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "theajack/cnchar"

[2021-01-05 04:03] theajack commented on #184
@gottayan
发到你qq邮箱了

[2021-01-06 09:08] gottayan commented on #184
好的 感谢

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: Tack Chen <notifications@github.com&gt;
发送时间: 2021年1月5日 12:04
收件人: theajack/cnchar <cnchar@noreply.github.com&gt;
抄送: gottayan <1174930941@qq.com&gt;, Mention <mention@noreply.github.com&gt;
主题: 回复：[theajack/cnchar] 打包后的资源存在ES6语法？ (#184)

@gottayan
 发到你qq邮箱了

—
You are receiving this because you were mentioned.
Reply to this email

[2021-01-16 06:22] soulge opened #185 "这个库可以高亮字的笔画吗？"
我想要高亮一个字的具体哪一个笔画 查了一下hanziwriter好像只能高亮部首，请问你这个库可以实现这个功能吗？

[2021-01-16 20:44] js-org-cleanup opened #186 "JS.ORG CLEANUP"
# JS.ORG CLEANUP

Hello, it seems a `js.org` subdomain that was requested to target this repository no longer works.
The subdomain requested was `cnchar.js.org` and had the target of `theajack.github.io/cnchar`.
It produced the following failures when tested as part of the cleanup:
 - [HTTP](http://cnchar.js.org): `Failed with status code '404 Not Found'`
 - [HTTPS](https://cnchar.js.org): `Failed

[2021-01-18 02:22] theajack commented on #185
@soulge
只能像这样以笔顺的形式高亮最后一笔
![image](https://user-images.githubusercontent.com/23377279/104865485-17310180-5977-11eb-8894-e195b24ab9e3.png)

另外 cnchar-draw 插件是基于hanziwriter 封装的

[2021-01-18 02:22] #185 closed, assigned to nobody

[2021-02-20 06:10] thiszhong opened #188 "cnchar.spell('成都') => ChengDou"
![20210220140921](https://user-images.githubusercontent.com/12380965/108585785-4aefb480-7385-11eb-88b4-1a3b6f241d74.jpg)

是不是应该是 `ChengDu` 呀

[2021-02-20 06:58] theajack commented on #188
@thiszhong 多音词支持需要引用 cnchar-poly 库

[code]

![image](https://user-images.githubusercontent.com/23377279/108586884-0582b580-738c-11eb-8af8-c211263a87b3.png)

[2021-02-20 06:58] #188 closed, assigned to nobody

[2021-03-29 04:47] yue-f opened #189 "革命的革 输入转换出来的是Ji，引用的是cnchar.min.js"
输入转换出来的是
![image](https://user-images.githubusercontent.com/33945064/112788214-efec6400-908c-11eb-84ca-4542acb719a0.png)

[2021-03-29 04:53] #189 closed, assigned to nobody

[2021-03-29 04:58] theajack commented on #189
@yue-f
感谢反馈，后续的版本会优化这个
可以先使用 `cnchar.setSpellDefault('革', 'ge2')` 做个兼容

[2021-03-29 05:02] yue-f commented on #189
请教个问题，如果遇到多的多音字的话，是需要每一个都手动设置吗？

[2021-03-29 05:06] theajack commented on #189
@yue-f
引入 cnchar-poly 库就可以支持多音词，如果有疏漏的话，需要自己设置，设置多音词不是用我刚发的那个api，用的是这个 `cnchar.setPolyPhrase('你好', 'ni3 hao3')`

请参考 [https://theajack.gitee.io/cnchar/doc/poly.html](https://theajack.gitee.io/cnchar/doc/poly.html) [https://theajack.gitee.io/cnchar/doc/custom.html#_6-%E8%AE%BE%E7%BD%AE%E5%A4%9A%E9%9F%B3%E8%AF%8D%E7%9A%84%E8%AF%BB%E9%9F%B3%EF%BC%9Asetpolyphrase](https://theajack.gitee.io/cnchar/doc/

[2021-03-29 05:15] yue-f commented on #189
好的，谢谢

[2021-04-08 16:07] guoyou opened #190 "Wrong spelling in cnchar-poly"
画栋朝飞南浦云，珠帘暮卷西山雨
huà dòng cháo fēi nā pǔ yún ， zhū lián mù juàn xī shān yù.

The third character's spelling must be 'zhāo', and the eleventh character's spelling must be 'juǎn'

[2021-04-25 07:02] #186 closed, assigned to nobody

[2021-04-25 07:03] theajack commented on #190
对于古诗词和文言文，目前尚不支持
可以使用 `cnchar.setPolyPhrase` api 定制拼音
[请参考文档](https://theajack.gitee.io/cnchar/doc/custom.html#_6-%E8%AE%BE%E7%BD%AE%E5%A4%9A%E9%9F%B3%E8%AF%8D%E7%9A%84%E8%AF%BB%E9%9F%B3%EF%BC%9Asetpolyphrase)

[2021-04-25 07:03] #190 closed, assigned to nobody

[2021-06-29 01:01] AHopes opened #191 "“归” 获取首字母错误"
![image](https://user-images.githubusercontent.com/19965547/123721217-6715dc00-d8b8-11eb-9dbe-8c699aaba336.png)
“归” 获取首字母错误

[2021-06-29 02:30] theajack commented on #191
感谢您的反馈 目前可以使用  `cnchar.setSpellDefault('归', 'guī');`  做一下兼容处理
该修复会随着下个版本一起发布

[2021-07-21 13:00] xiatian12345 opened #192 "使用HanziWriter中的某些字调用stroke('order','name')方法后得到undefined"
成功个数 8075 失败汉字如下 [
  '⺀', '⺈', '⺊', '⺌', '⺍', '⺗', '⺮', '⺳', '⺼', '㐆',
  '㐌', '㐬', '㐭', '㐱', '㒸', '㒼', '㓞', '㔾', '㕡', '㝵',
  '㠯', '㡭', '㢆', '㢟', '㣎', '㥯', '㧜', '㬎', '㲋', '㳄',
  '㼌', '㿽', '䍃', '䕭', '䙴', '䜌', '䠀', '䧹', '䰾', '䴉',
  '丂', '丄', '丏', '丨', '丩', '丬', '丱', '丵', '丶', '丷',
  '丿', '乑', '乚', '乛', '乶', '乹', '乿', '亅', '亙', '亠',
  '亶', '亹', '亼', '亾', '仌', '伄', '伕', '伾', '佇', '佉',
  '併', '佽', '侌',

[2021-07-26 13:31] edonlu opened #193 "宝盖头第二笔是啥？"
`cnchar.stroke('宝', 'order', 'name'),`输出`点,撇点,横撇|横钩,横,横,竖,横,点`，第二笔是`撇点`。
`cnchar.stroke('宝', 'order', 'shape'),`输出`丶,㇀,㇇|乛,一,一,丨,一,丶`，第二笔是`㇀`？
可是`cnchar.orderToWord.orders`里面的撇点对应的是`𡿨`。
用`cnchar.orderToWord(['点', '撇点', '横钩'], 'start'),`不能输出宝盖头的字。

所以宝盖头第二笔是啥？

[2021-07-29 14:25] theajack commented on #192
抱歉 对于某些生僻字和繁体字 确实字典中不存在它们的笔顺

[2021-07-29 16:30] theajack commented on #193
已修复 宝字第二笔名称改为 点2

[2021-07-29 16:30] #193 closed, assigned to nobody

[2021-07-29 16:30] theajack commented on #191
已添加 请升级到 3.0.2 使用

[2021-07-29 16:30] #191 closed, assigned to nobody

[2021-08-04 02:55] LeighQ opened #195 "动画绘制模式，希望增加功能：分步绘制"
按照笔画顺序，一次只绘制一笔的动画，暂停，及继续绘制下一笔

[2021-08-06 08:33] #192 closed, assigned to nobody

[2021-08-06 08:33] xiatian12345 commented on #192
好的，那我关闭该问题了哈

[2021-08-10 03:27] yywdandan opened #196 "“谷”字首字母出错，识别为Y"
![gu](https://user-images.githubusercontent.com/74121994/128803820-e88ea148-3bc6-48b6-ad99-7c8d3f32db8d.png)

[2021-08-10 12:28] theajack commented on #196
@yywdandan 感谢您的反馈 下期版本带上这个错误修复

[2021-08-10 12:30] theajack commented on #195
见 version 3.0.3 [drawnextstroke](https://github.com/theajack/cnchar#5233-drawnextstroke)

[2021-08-10 12:30] #195 closed, assigned to nobody

[2021-08-11 13:36] theajack commented on #196
@yywdandan
可以先使用以下方法自定义数据使用
`cnchar.setSpellDefault('谷', 'gǔ')`

[2021-08-14 05:37] #196 closed, assigned to nobody

[2021-09-28 06:38] lbc19920615 opened #197 "一些生僻字 笔画数对比有问题"
比如

cnchar.compareStroke('両', '一')  // 返回less

[2021-10-08 03:21] theajack commented on #197
谢谢你的反馈，是因为字典里没有 両 这个繁体字，后续版本会加上的。

[2021-10-09 04:33] mapull opened #198 "spell-dic-jian 说明"
在 spell-dic-jian.json 文件里

	"hei": "1:黑1嗨6嘿6",
	"ng": "0:嗯9嗯7嗯8",

像上面这样的是什么意思，作者能说明一下吗？

hei 是读音能看懂，**1:** 是什么意思，还有这个 **嗯9嗯7嗯8** 为啥要这样写？

因为在使用的时候，发现很多音问题，特别是多音字的默认音。因此打算研究一下代码。

将军 ：qiāngjūn
是否：shìpǐ
长不大：chángbùdà
单于：chányú （这个是对的）

cnchar 当前最新版，参数 spell('low','tone')

[2021-10-09 08:08] theajack commented on #198
"hei": "1:黑1嗨6嘿6",

hei 表示的是无音调拼音，后面的第一个1表示音调的位置，从0开始的
每个汉字后面跟的数字表示音调 0-4 分别表示轻声到一二三四声，5-9也分别表示轻声到一二三四声，区别是大于等会5的汉字表示的是它是一个多音字。

第二个问题

将军 ：qiāngjūn
是否：shìpǐ
长不大：chángbùdà

cnchar-poly 插件识别多音词组依赖的是多音词词典（polyphone-phrase-simple.json）
由于词非常多，所以对于多音词只对不常见的读音的常见词组进行收录
将 jiang 和否 fou 字就是多音字的常见读音，应该收录于 spell-default.json 文件，但是由于疏漏没有收录，后续会补上
至于 长不大 这种不属于常见词组，基于这种可以扩张出 长不长，长不胖，长不高 等一大堆词，依赖词典分辨是不大可能的

所以前面

[2021-10-09 08:08] theajack commented on #198
@mapull

[2021-10-09 13:24] mapull commented on #198
@theajack 感谢这么快的回复。找了很多拼音库，这个库在功能的丰富度、API的完善度、文档的清晰度上都表现的相当不错。唯一遗憾的是，拼音的准确度不尽如人意，还有很大的改进空间。
还有一点，库的LICENSE是 MIT 的，可以在Readme最后说明一下，免除使用的后顾之忧。

我会经常来把收集到的错误音标提出来，期待拼音的识别率越来越高。

[2021-10-09 13:24] #198 closed, assigned to nobody

[2021-10-09 15:02] theajack commented on #198
@mapull 感谢你的反馈与认可

[2021-10-10 03:52] theajack commented on #198
对于 长不大 这种词组可以使用 setPolyPhrase 方法定制拼音
![image](https://user-images.githubusercontent.com/23377279/136681134-845589bb-f5ad-4c6a-bb65-ca321c1a1182.png)

还有其他[自定义数据的方法](https://theajack.gitee.io/cnchar/doc/custom.html)可以使用
@mapull

[2021-10-20 14:38] #197 closed, assigned to nobody

[2021-10-20 14:39] theajack commented on #197
两字的繁体字是这个哦：兩

[2021-11-09 15:23] hellonge opened #201 "汉字绘制功能在vue中怎么用"
和在微信小程序使用方式一样吗

[2021-11-10 07:57] #201 closed, assigned to nobody

[2021-11-17 09:36] theajack commented on #201
不一样 目前没有封装基于vue的组件 只能使用 api + vue ref 的方式 [api](https://github.com/theajack/cnchar#52-%E5%8F%AF%E8%A7%86%E5%8C%96%E7%BB%98%E5%88%B6%E6%B1%89%E5%AD%97-draw)
[code]

[code]
小程序请参考 [小程序使用](https://github.com/theajack/cnchar#524-%E5%BE%AE%E4%BF%A1%E5%B0%8F%E7%A8%8B%E5%BA%8F%E4%B8%AD%E4%BD%BF%E7%94%A8)

[2021-11-17 09:39] theajack commented on #196
已经添加 可以升级到 3.0.4 使用

[2021-11-28 04:35] hellonge commented on #170
cnchar-draw有些字http.........json 404,有没有错误回调

[2021-11-29 03:16] theajack commented on #170
@hellonge cnchar-draw 依赖第三方绘制数据 可能是会存在这个问题 可以举一个汉字例子吗

[2021-11-30 14:12] wooaooo opened #202 "滕王阁序部分缺失或错误拼音"
遏：e  应该是四声
棨：qi 三声
襜：chan 一声
騑：fei    一声

[2021-12-01 23:38] theajack commented on #202
@wooaooo
感谢反馈

[2021-12-02 15:15] wooaooo opened #203 "正气歌部分缺失或错误拼音"
遝：tà
溷：hùn

[2021-12-09 09:32] Hefr-y opened #204 "不准确的多音字"
中国银行行长

pinyin with tone: Zhōng,Guó,Yín,Háng,***Xíng**,Cháng

行长

pinyin with tone: ***Xíng**,Cháng

[2021-12-09 09:38] theajack commented on #204
感谢反馈，后续会加上这个多音词

[2021-12-09 09:38] theajack commented on #203
感谢反馈，后续会加上

[2021-12-14 13:16] zungmou opened #205 "“柴”多音字选择问题"
程序给出的结果是：Zhài
常见的都是：Chai

程序是否给多个结果？

[2021-12-16 09:10] theajack commented on #205
@zungmou 感谢反馈 这个该多音字默认读音的遗漏
可以使用 cnchar.setSpellDefault('柴', 'chái') 指定默认读音
也可以使用 cnchar.spell('柴', 'poly', 'tone') 获取全部读音

这个字的默认读音会在后续版本带上

[2021-12-16 09:12] theajack commented on #204
cnchar.setPolyPhrase('行长', 'hang2 zhang3')
@Hefr-y  可以暂时使用这个api 指定多音词读音

[2021-12-17 07:30] #202 closed, assigned to nobody

[2021-12-17 07:30] #203 closed, assigned to nobody

[2021-12-17 07:30] #204 closed, assigned to nobody

[2021-12-17 07:30] #205 closed, assigned to nobody

[2021-12-28 07:47] LEIHD opened #206 "网络不好加载字体json失败"
因为网络不稳定导致请求字体对应的json文件失败，有没有直接引入离线字体文件的解决方案

[2022-01-29 04:02] PullAndRun opened #207 "ts ICnChar 接口上方法数量有限"
安装cnchar-all之后，文档里类似convert的方法调用不出来

[2022-02-07 00:07] loongzen opened #208 "“啊”的变调读法"
“啊”的变调读法有六种，具体如下：
1、前一个的韵尾是“a、o、e、i、u、ü”时，读成“ia”。
2、前一个的韵尾是“u、ao、ou”时，读成“ua”。
3、前一个的韵尾是“n”时，读成“na”。
4、前一个的韵尾是“ng”时，读成“nga”。
5、前面音节是zhi、chi、shi、ri “啊”读作“ra”。例如：“快吃啊！”
6、前面音节是zi、ci、si时,“啊”读作“za”例如：“这东西真次啊！”
感谢您的开源，cnchar太实用了。
我的微信-16608921567，QQ-88190168。

[2022-02-07 00:10] loongzen commented on #208
1、三加四等于七啊，发音“呀”。
2、你倒是打球啊，发音“哇”。
3、我在哈尔滨啊，发音“哪”。

[2022-02-07 00:18] loongzen commented on #208
4、十一是国庆啊，大约是个“掐”的音。

[2022-02-08 02:32] theajack commented on #206
感谢你的反馈 这个后续会考虑加入更新计划的

[2022-02-08 02:33] theajack commented on #207
感谢反馈 后续会加入修复计划的

[2022-02-08 02:34] theajack commented on #208
感谢反馈 后续会考虑加入修复计划的

[2022-02-15 10:06] yipid opened #211 "某些部首笔画数返回0，比如氵、阝、刂"
如题"汉"的偏旁得到氵，
氵的笔画数返回0
阝的笔画也返回0
灬的笔画也返回0
刂的笔画也返回0
……

[2022-02-16 04:01] #211 closed, assigned to nobody

[2022-03-06 09:23] czwlucky opened #215 "凹字的笔顺好像有点问题"
凹字貌似笔顺不对
[丨,㇅|㇍,丨,𠃍,一]

[2022-03-17 05:02] abin2011 opened #216 "繁體 鐘 字無法找到."
因為要計算姓 鐘 的有多少筆畫, 發現沒有鐘字, 請問可否添加到繁體庫中呢. 因為百家姓裡 也有這個字

[2022-03-20 10:53] mingyigg opened #217 "能支持根据汉字查询词组功能么"
根据某个汉字，查询相关的词组

感觉会实用

作者大大考虑支持下吗？

[2022-03-24 10:10] leonahliang90 opened #218 "为啥粥会返回 Y 呢。。。"
<img width="226" alt="image" src="https://user-images.githubusercontent.com/4065175/159893422-ea9a45ca-09a9-4881-a9f1-746992f3d8f7.png">

[2022-03-31 00:47] theajack commented on #215
是对的哈 中间那个是  ㇅|㇍ 是一个笔画 是或者的关系

[2022-03-31 00:47] #215 closed, assigned to nobody

[2022-03-31 01:29] theajack commented on #218
<img width="858" alt="image" src="https://user-images.githubusercontent.com/23377279/160957905-3e97a93b-7e65-42ea-878d-8bbfff15d213.png">

可以检查一下你的版本哈 3.0.5 应该是没问题的

[2022-03-31 01:37] #218 closed, assigned to nobody

[2022-03-31 01:39] theajack commented on #216
<img width="571" alt="image" src="https://user-images.githubusercontent.com/23377279/160958825-5c8a8773-81bd-4b01-af3f-47d085477f39.png">

有的哈 [前往](https://theajack.gitee.io/cnchar/#%E9%8D%BE)

[2022-03-31 01:39] #216 closed, assigned to nobody

[2022-03-31 01:39] theajack commented on #216
可能你没有引用cnchar-trad 库？

[2022-03-31 01:42] theajack commented on #207
你可以试试[这里](https://theajack.gitee.io/jsbox/?github=theajack.cnchar@master)

是有convert对象的

你是不是指没有代码提示

[2022-03-31 02:37] theajack commented on #207
已修复 请升级到3.0.6使用

[2022-03-31 02:37] #207 closed, assigned to theajack

[2022-04-15 02:57] abin2011 commented on #216
原來 繁體的 鍾 姓 不是 鐘

[2022-04-26 03:51] littleboyck opened #220 "网站打不开了"

[2022-04-28 01:47] theajack commented on #220
现在恢复了，gitee pages挂了

现在用github pages了

[2022-04-28 01:47] #220 closed, assigned to nobody

[2022-04-28 08:58] theajack commented on #206
3.1.0 已支持该功能，请参考 [离线使用和自定义部署](https://theajack.github.io/cnchar/doc/offline.html)

[2022-04-28 08:58] #206 closed, assigned to theajack

[2022-04-28 08:58] theajack commented on #217
3.1.0 已支持该功能，请参考 [cnchar-words](https://theajack.github.io/cnchar/doc/words.html)

[2022-04-28 08:58] #217 closed, assigned to nobody

[2022-04-29 01:22] jackple opened #222 "试用网站不可访问"
![image](https://user-images.githubusercontent.com/6183232/165871779-65c6ec5e-dbdf-4c70-8bc8-16953f4d58ec.png)

[2022-04-29 01:26] jackple commented on #222
刚刚抽风, 一会过后又可以了

[2022-04-29 01:26] #222 closed, assigned to nobody

[2022-05-01 07:13] guoyili209 opened #223 "有很多繁体字笔画都是0，比如宁转繁体是寧后，返回的笔画数是0"
cnchar.stroke(cnchar.convert.simpleToTrad('宁'))；//0

[2022-05-02 13:50] theajack commented on #223
感谢反馈，还有发现其他字吗 后续一起加一下

[2022-05-02 15:13] guoyili209 commented on #223
宁炜缪窦栾祯玺台晔韬轶烨历恺郦珑鸾鑑鹭俤侬彐骧琏粦炀骊铙骝跻俪焘迺鹂亘阗诤绫岺迹暧凃雳俦傥谛苳勍鎌皊廼厘轸徕绐颋郞讷崙婻蛲斓赉曽崚辂锜辇绨烺昙玠鸫呐遆鹞缇钬暘砀岊饧炖嶋鍊钅趸缭煖娲叹勣褟袛熖玪绦迩榎厐洊燐烔炆畠抟鸷毜鸰鏐燿胧阆瀬瑱冏亷鲡廪纣琭枬玨喨爔瑯畇蓸瑮矞骎颙漋璆诶纨煋懃竻燏暻芶倞慬駺飔镠騄錬肈龛呖玓逎焵媞焌曺埰麐棨凊騋嫤捲堦姢诋贽殚胪鹧籴夌鶄埌泆驄柾斳嫕姎闕娳媮瞈埻滝絿汧焮噜辘鹈跞屴鲇鹨鲮驽驎裣轺谠媁稆袓悰瓅宭舲鄗椂掦玘瓈廸瑨泂倢樫仼鄔継惪珰俍苙玱骕靑谲睐慆炝咛辚懔耹畯籣儷銭矴荅鏦鄌妉洤碻鵷莙橉璪熺禢袺爕萳孄煐蕳峝澯蔵耑觧熲漻嵒臤鮀褛藟珟柮碕憇烇逦鼗鲈艻胨鞑鸸缡焖鸩逴雠辍躏旂婈弇朸斉唫籙湝濓鵃聡姉錂晙磾銡羕矱諵祘鞦旿瑫鴼歏玝穠廘籐粬墻敭嵜陖捁垱遰琱榤桹籧駉烱娚碐絳頲湶砳趯姾烒玴烻瑔靔嚥熷裫璻耺杕禭鴒嬝伒俫輗煒钁伈婍颎枏昤燡谘骓髅偻轹绺舻哝疬叆艹侓蛏耧齑佁赕辏玦谪赀裆晊繅嫀橾鶆娞簵稑溍

[2022-05-09 05:35] jiangteng2019 opened #224 "未收录拼音 den"
cnchar.spellToWord('den')  // 错误的拼音: den
且不支持api设置:
`cnchar.setSpell('扥', 'den4')`

[2022-05-09 06:03] theajack commented on #224
感谢反馈 下个版本会加上这个汉字和拼音

[2022-05-09 06:29] theajack commented on #223
会考虑加入后续更新计划，但是出于包体大小考虑 部分生僻字可能不会支持到或者通过插件方式支持

[2022-05-09 06:37] jiangteng2019 commented on #224
未收录的拼音有：chua(欻) den(扥扽) eng(鞥) nun(黁) rua(挼) tei(忒) 。有些生僻字读音不确定，只有部分词典收录，请酌情添加。

[2022-05-19 01:53] kaixinsoft opened #225 "笼罩"
发音应该是
[拼音] | [lǒng zhào]

但是这里是Lóng Zhào 。

[2022-05-19 02:35] FreeVB opened #226 ".net 版本"
请问什么时候会考虑出.net版本的？

[2022-05-19 13:12] theajack commented on #226
C#吗 这个没有考虑支持哦 主要是支持js、ts
仓库里有json字典，可以考虑复制过去自己定制实现你所需要的功能哦

[2022-05-19 13:12] #226 closed, assigned to nobody

[2022-05-19 13:12] theajack commented on #225
感谢反馈，后续会加入fix计划

[2022-05-20 09:11] theajack commented on #216
<img width="102" alt="image" src="https://user-images.githubusercontent.com/23377279/169495773-be64c3d9-dc03-4851-9bcb-6025f3c8658b.png">
两个都是

[2022-05-23 05:47] iamhefang opened #227 "“南”字拼音不对"
“南”给出的拼音是Na，跃然“南”字在“南无阿弥陀佛”里面读na，但一般用法还是读nan的多

[2022-06-02 16:29] theajack commented on #227
Fixed in v3.2.0

[2022-06-02 16:29] #227 closed, assigned to theajack

[2022-06-02 16:30] theajack commented on #225
Fixed in v3.2.0

[2022-06-02 16:30] #225 closed, assigned to theajack

[2022-06-02 16:30] theajack commented on #224
Fixed in v3.2.0

[2022-06-02 16:30] #224 closed, assigned to theajack

[2022-06-02 16:30] theajack commented on #223
Fixed in v3.2.0

[2022-06-02 16:30] #223 closed, assigned to nobody

[2022-06-06 02:58] mingyigg opened #229 "cnchar-radical 繁体字的部首显示不正确"
很多繁体字，cnchar-radical 返回的部首直接显示的就是整个字，已经启用了繁体库

[2022-06-06 03:04] mingyigg opened #230 "鸟的默认读音能否调换一下"
目前鸟字默认读音是 diao3，好奇怪，一般都是读 niao3

[2022-06-06 03:30] FourNightsJason opened #231 ""胜"，用笔画拼不回去"
![image](https://user-images.githubusercontent.com/56989185/172089785-c46ca3b8-886b-4049-b51d-5f32877628e2.png)
如上图，”胜“字可以解构出的笔画，用解构出的笔画却拼不回去。

[2022-06-06 03:41] mingyigg opened #232 "cnchar-wrods 词组功能不太实用"
大佬辛苦了，cnchar-wrods 词组功能在实际应用的时候感觉不是很实用，我实际用的时候一般是传入一个汉字，查询相关联的词语，但是目前这个库存在的问题，一次性返回非常多的词语，但是大部分的词语都是很偏僻的用法，很不实用。如果能否按照使用频率返回常用的词语就更好了，当然使用频率这个估计很少有词库会统计。但是我觉得也是可以换一个词库的，相关词语不需要返回很多，只需要返回比较常用的那些就行了，我觉得应该会有类似的词库，因为很多汉字网站感觉返回的词语都是相关度比较高的

[2022-06-06 03:45] mingyigg opened #233 "cnchar-explain 能否支持单个字的解释"
目前这个库好像只支持词语的解释，能否返回单个字的解释呢？
我找了目前github有一个新华字典的词库，还有一个在此基础上改造的库，里面都有单个字的解释
不知道大佬有没有兴趣开发一下

https://github.com/pwxcoo/chinese-xinhua
https://github.com/mapull/chinese-dictionary

这个库是这么返回的

[
    {
        "word": "嗄",
        "oldword": "嗄",
        "strokes": "13",
        "pinyin": "á",
        "radicals": "口",
        "explanation": "嗄〈叹〉\n\n 同啊”。表示省悟或惊奇\n\n 嗄!难道这里是没有地方官的么?--宋·佚名《新编五代史平话》\n\n

[2022-06-06 16:39] mingyigg commented on #229
新版本好像已经解决了

[2022-06-06 16:39] #229 closed, assigned to nobody

[2022-06-07 00:07] theajack commented on #232
你是使用3.1.0 还是3.2.0
如果是3.1.0可以到升到3.2.0 试试，3.2.0 换了一个更常用的词库
<img width="795" alt="image" src="https://user-images.githubusercontent.com/23377279/172268981-ebad4a1f-0a76-4890-a7ca-f853615d7b4d.png">

[2022-06-07 00:09] theajack commented on #233
我看过这个词典太大了，打包到js里不太行
不过应该可以做成加载json，类似draw和voice包，这个后续考虑加入插件计划

[2022-06-07 00:11] theajack commented on #231
感谢指出，我看看

[2022-06-07 00:11] theajack commented on #230
感谢 指出 下个版本修复一下

[2022-06-07 00:12] theajack commented on #230
<img width="386" alt="image" src="https://user-images.githubusercontent.com/23377279/172269446-f732daa9-518d-4c58-9a73-e8ae968db216.png">
我看3.2.0 好像已经修复了

[2022-06-07 14:09] hellonge opened #234 "Draw 方法text必须含有中文"
cnchar-draw更新到3.2.0出这个提示“Draw 方法text必须含有中文”

[2022-06-07 14:26] #234 closed, assigned to nobody

[2022-06-07 14:26] hellonge commented on #234
1

[2022-06-11 09:54] mingyigg commented on #232
试了一下确实好用多了，谢谢

[2022-06-11 09:54] #232 closed, assigned to nobody

[2022-06-11 09:58] mingyigg commented on #233
这个词典收藏的字好像有2w多个，确实很大，也许可以考虑一下先把常用的两三千个字做成js，然后提供一个方法允许用户切换数据源为加载json，相当于分成了常用版和扩展版。因为里面 [char_common_detail.json](https://github.com/mapull/chinese-dictionary/blob/main/data/character/char_common_detail.json)  这个json文件其实也才3.5M，是常用的3500个字，3.5M其实也还好

[2022-06-11 10:29] mingyigg commented on #230
我也用的是3.2，不知道为什么你的是正确的，我的还是diao在前面
<img width="877" alt="截屏2022-06-11 18 27 36" src="https://user-images.githubusercontent.com/21259162/173184073-5c1d0045-113f-4de6-8309-209be59eab28.png">

是不是因为你没有启动多音字模式？我启用了多音字

cnchar.spell(_wordStr, 'poly', 'array', 'tone', 'low')

是不是多音字模式下，拼音是按照首字母顺序来排列的？

[2022-06-11 10:39] mingyigg commented on #230
被字也是一样的，开启多音字以后，pi1在bei4前面，但是明显bei4这个读音是更常用的

在开启多音字模式下，能否让常用读音自动排在前面呢？

[2022-06-19 01:28] theajack commented on #233
@mingyigg
3.2.1已发布，已支持该功能

[2022-06-19 01:28] #233 closed, assigned to nobody

[2022-06-19 01:28] theajack commented on #231
@FourNightsJason
3.2.1已发布，已修复该问题

[2022-06-19 01:28] #231 closed, assigned to nobody

[2022-06-19 01:29] theajack commented on #230
@mingyigg
3.2.1已发布，已修复该问题

[2022-06-19 01:29] #230 closed, assigned to nobody

[2022-06-19 05:25] mingyigg commented on #233
感谢

[2022-06-20 08:50] FourNightsJason commented on #231
感谢大佬

[2022-06-24 14:43] mingyigg opened #235 "风的默认读音应该是第一声"
现在默认是第四声，但是第一声似乎更常见吧，而且第4声这个用法似乎没查到，百度汉语里没有第4声，不知道这个读音是哪里来的

[2022-07-01 06:15] theajack commented on #235
感谢指出 下个版本修复一下

[2022-07-06 03:16] huyikai opened #237 "cnchar.spell方法生成的拼音中字母g是全角,应为半角"
例如 【当】字 生成 dānɡ 中的g是全角。在数据检索时会无法匹配。ing、ong、eng都有此问题。

[2022-07-07 21:36] theajack commented on #237
没有发现 cnchar.spell('当') 获取到的 g是全角啊
你是通过什么api，可以发一下代码吗

[2022-07-19 06:38] yyj1983 opened #238 "这个方法无效啊"
cnchar.info('汉字');

[2022-07-23 00:41] theajack commented on #238
首先，版本要在3.2.0+
其次需要安装 cnchar-info 插件

![image](https://user-images.githubusercontent.com/23377279/180583671-6b17e32c-3938-4753-a85e-b5d1a19adc1e.png)

![image](https://user-images.githubusercontent.com/23377279/180583688-67fec42f-1ccc-4f9c-9c9c-ecb8a40389a2.png)

[2022-07-28 12:32] yyj1983 commented on #238
我调用时候，返回的是：[object Object]

[2022-07-28 12:33] yyj1983 commented on #238
[已经弄好。是我自己的问题。嘿嘿](https://s2.loli.net/2022/08/12/xGtagFVpjNERl6u.jpg)

[2022-08-12 04:40] #238 closed, assigned to nobody

[2022-09-21 07:29] 1094945981 opened #240 "运行cnchar-serve [port] 报错"

[2022-09-22 06:55] theajack commented on #240
报的什么错误 是安装的cnchar-data install之后 run的吗

[2022-10-03 04:14] webceoboy opened #241 "姈"
缺少这个字库

[2022-10-07 02:42] 1094945981 commented on #240
是的，server is not a function

PS D:\前端相关\cjw-demo> cnchar-serve 9529
D:\前端相关\cjw-demo\node_modules\cnchar-data\bin\serve.js:5
server();
^

TypeError: server is not a function
    at Object.<anonymous> (D:\前端相关\cjw-demo\node_modules\cnchar-data\bin\serve.js:5:1)
    at Module._compile (node:internal/modules/cjs/loader:1105:14)
    at Object.Module._extensions..js (node:internal/modules/cjs/loader:11

[2022-10-07 06:09] 1094945981 commented on #240
cnchar-serve-prod 我运行这个命令也没有在根目录生成cnchar-data目录

[2022-10-09 01:22] theajack commented on #241
感谢反馈，下个版本加上

[2022-10-09 01:23] theajack commented on #240
@1094945981 请升级到 1.1.0 使用，使用文档请参考 readme

[2022-10-09 01:23] #240 closed, assigned to theajack

[2022-10-10 03:20] pengguojin opened #242 "cnchar-data离线请求不生效"
环境：
[code]
代码如下：
[code]
setResourceBase不生效，f12看还是请求 https://unpkg.com/，是我写法不对吗？

[2022-10-13 07:10] pengguojin commented on #242
已解决了：
- 1、代码有问题，修改为如下：
[code]
- 2、地址末尾必须带上 / ，否则没有请求
- 3、跨域的问题，打包后部署到nginx，通过nignx解决跨域就可以了，贴上nginx配置
[code]

[2022-10-13 07:10] #242 closed, assigned to nobody

[2022-10-19 04:36] keyoftime opened #243 "希望能加回 Canvas 这一个渲染选项。"
cnchar-draw 这个是使用 HanziWriter，虽然预设是生成 svg，但一页面太多 svg 图片会变成效能问题，所以 HanziWriter 可以透过 renderer: 'canvas' 这个设定来使用 Canvas 进行渲染，谢谢！

[2022-10-31 06:33] hoythan opened #244 "transformTone 返回不正确的内容"
[code]

正确应该返回
[code]

[2022-11-09 05:59] ky2700 opened #245 "按文档《自定义部署:离线使用》安装引用及设置 怎么没有效果呢？"
<script type="text/ecmascript-6">
// 汉字拼音笔画js库
import cnchar from 'cnchar'
import draw from 'cnchar-draw'
cnchar.use(draw) // use 在浏览器环境中非必须
cnchar.setResourceBase('http://localhost:3002/')
// 默认导出
export default {
  components: {},
  props: {},
  data() {
    return {}
  },
  computed: {},
  created() {
    // 获取当前版本：
    let version = cnchar.version // string 类型
    console.log(`当前版本：${version};

[2022-11-12 10:21] iamcco opened #246 "测试代码遗留"
https://github.com/theajack/cnchar/blob/3ceb2ea6999e084f65018e68fa8565ee4687b2f6/src/cnchar/plugin/input/associate/ass-spell.ts#L36

每次调用会多出不必要的 log

[2022-11-20 18:45] zhyongwei opened #247 "论文中如何引用本项目"
您好，项目的功能非常好，也非常有价值，感谢！我在一篇论文中引用了本项目，能否告知您的真实姓名（主要责任者）呢？电子文献具体的引用格式需符合以下规范：

示例：
［1］萧钰.出版业信息化迈入快车道[EB/OL].(2001-12-19) [2002-04-15].http:∥www.creader.com/news/ 200112190019.htm.
［2］Online Computer Library Center,Inc.History of OCLC［EB/OL］.[2000-01-08].http:∥www.oclc.org/ about/history/default.htm.
［3］傅刚.大风沙过后的思考[N/OL].北京青年报，2000-04-12(14)[2002-03-06]. http:∥www.bjyouth.com.cn/Bqb/20000412/GB/4216%5

[2022-11-26 23:44] theajack commented on #247
你好，感谢你的认可，可以这样引用 @zhyongwei

［x］Tack Chen(2019).Cnchar[Source Code]. https:∥www.github.com/theajack/cnchar

[2022-11-26 23:45] theajack commented on #246
@iamcco 感谢 下个版本移除掉

[2022-11-26 23:46] theajack commented on #245
@ky2700  需要修改一下 base，生产环境的话 需要修改成对应的你自己的服务地址

[code]

[2022-11-26 23:46] theajack commented on #244
@hoythan 感谢指正 下个版本修正